@font-face {
    font-family: Norse-Bold;
    src: url("./fonts/Norse-Bold.woff2")
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    height: 100vh;
}


.logo-section {
    width: 100vh;
    height: 100vh;
    background-image: url("./img/background.jpg");
    background-size: cover;
}

.logo {
    margin-top: 170px;
    height: 120px;
    width: auto;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
}

.logo-text {
    font-family: "Norse-Bold", Arial, sans-serif;
    font-size: 64px;
}

.container {
    height: 100vh;
    width: auto;

    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.intro-text, .form-caption {
    font-size: 20px;
    padding-right: 300px;
}


form, .intro-text, .final-text {
    padding-left: 48px;
}

.intro-text {
    height: 40vh;
    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.second-text {
    margin-top: 5px;
}

form {
    flex: 1;
    color: rgb(50,50,50);
}

label {
    font-size: 12px;
    letter-spacing: 0.1em;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.field {
    height: 48px;
    width: 250px;
    margin-right: 48px;

    display: flex;
    flex-direction: column;
}

input {
    padding: 4px;
}